# OSRM data (huge)
infra/osrm_data/
**/*.osm.pbf
**/*.osrm
**/*.osrm.*

# Python
__pycache__/
*.pyc
.venv/

# Env files
.env


# NOMINATIM DATA
infra/nominatim_data/*
infra/nominatim_db/*
infra/nominatim_import/*